body {
  margin: 0;
  height: 100vh;
  background: #f2f2f2;
}

.fab {
  position: fixed;
  bottom: 20px;
  right: 20px;

  width: 60px;
  height: 60px;
  border-radius: 50%;

  background-color: #6200ea;
  color: white;
  font-size: 30px;

  border: none;
  cursor: pointer;

  box-shadow: 0 4px 10px rgba(0,0,0,0.3);
}